<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/public/stylesheets/index.css">
    </head>
    <body>

        <header><%- include('../partials/header'); %></header>

        <main>
            <div class="workspace-container">
                <div class="workspace-item create-new" onclick="createNewWorkspace()">
                    <p class="bold">CREATE NEW WORKSPACE +</p>
                </div>
                <% for (const [name, data] of Object.entries(codespaces)) { %>
                    <div class="workspace-item">
                        <h2>Codespace: <span class="ul"><%= name %></span></h2> 
                        <p>Container ID: <%= data.id %></p> 
                        <p>Code Server Port: <%= data.port %></p>
                        <div class="actions">
                            <button onclick="openCodeServer(<%= data.port %>)">Open via code-server</button>
                            <button onclick="openVSCode(<%= data.port %>)">Open via Visual Studio Code</button>
                            <button onclick="openTerminal()">Open via Terminal</button>
                            <button onclick="deleteCodespace(<%= data.id %>)">Open via nothing... delete!</button>
                        </div>
                    </div>
                <% } %>
            </div>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
        <script src="/public/javascript/index.js"></script>
    </body>
</html>